html

  head

    // script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js')
    // script(src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js')
    script(src='http://mbostock.github.com/d3/d3.js')
    script(src='js/ap-debug.js')

    link(rel='stylesheet', type='text/css', href='css/jquery-ui-1.9.2.custom.css')
    link(rel='stylesheet', type='text/css', href='css/mcb80x.css')

  body


    #stage
      #prompt_overlay

      #interactive

        #art

        #floaty.properties-pane(data-bind="visible: propertiesVisible")
          label Axial Resistance:
            span(data-bind='text: R_a')
          br
          div(data-bind="slider: R_a, sliderOptions: {min: 0.35, max: 1.5, range: false, step: 0.05}")

          label Membrane Capacitance:
            span(data-bind='text: C_internode')
          br
          div#CSlider(data-bind="slider: C_internode, sliderOptions: {min: 0.4, max: 1.5, range: false, step: 0.1}")

          //- label Pulse Current:
          //-   span(data-bind='text: pulseAmplitude')
          //- br
          //- div(data-bind="slider: pulseAmplitude, sliderOptions: {min: 100, max: 200.0, range: false, step: 10}")

          label Myelinated:
          input(type='checkbox', data-bind='checked: myelinated')

          br
          label Voltage Clamped:
          input(type='checkbox', data-bind='checked: voltageClamped')


      #video
        video(height='100%', width='100%', id="vid")
      .timeline-controls
        //- button.timeline-play
        #timeline.timeline-container



