html

  head

    script(src='http://mbostock.github.com/d3/d3.js')
    script(src='http://popcornjs.org/code/dist/popcorn-complete.min.js')

    // The compiled module code -- mcb80x libraries, simulations, etc.
    script(src='js/approp-module-debug.js')

    // The script for this lesson
    script(src='scripts/{{script}}.coffee', type='text/coffeescript')

    // Main
    script(src='scripts/main.coffee', type='text/coffeescript')

    // Coffeescript compiler (included here to compile the above two scripts.
    // In a "live" version, these would be pre-compiled)
    script(src='http://cdnjs.cloudflare.com/ajax/libs/coffee-script/1.1.2/coffee-script.min.js')


    link(rel='stylesheet', type='text/css', href='css/jquery-ui-1.9.2.custom.css')
    link(rel='stylesheet', type='text/css', href='css/mcb80x.css')
    link(rel='stylesheet', type='text/css', href='css/tipsy.css')


  body


    //- .wrapper
    //-   .sixteen-by-nine.aspect-ratio
    //-     #stage.content
    #stage.autosize
      #interactive
        #art

        #floaty.properties-pane(data-bind='visible: propertiesVisible', style='display: none;')
          div(data-bind='visible: R_a_knob')
            label Axial Resistance:
              span(data-bind='text: R_a')
            br
            div(data-bind='slider: R_a, sliderOptions: {min: 0.35, max: 3.0, range: false, step: 0.05}')

          div(data-bind='visible: C_m_knob')
            label Membrane Capacitance:
              span(data-bind='text: C_internode')
            br
            div#CSlider(data-bind='slider: C_internode, sliderOptions: {min: 0.4, max: 1.5, range: false, step: 0.1}')

          //- label Pulse Current:
          //-   span(data-bind='text: pulseAmplitude')
          //- br
          //- div(data-bind="slider: pulseAmplitude, sliderOptions: {min: 100, max: 200.0, range: false, step: 10}")

          //- label Myelinated:
          //- input(type='checkbox', data-bind='checked: myelinated')

          //- br
          //- label Voltage Clamped:
          //- input(type='checkbox', data-bind='checked: voltageClamped')


      #video
          .backdrop

      #title-banner.lower-third
        span.lower-third-title .

      #timeline-controls
        button.timeline-button(data-bind='visible: paused, click: play')
          img(src='images/play.png', height='100%', width='100%')
        button.timeline-button(data-bind='visible: playing, click: pause')
          img(src='images/pause.png', height='100%', width='100%')
        #timeline.timeline-container


      #loading-indicator.loading-indicator
        img.loading-icon(src='images/loading.gif')

      img.logo-overlay(src='images/logo_overlay.png')

